.custom-swiper {
  position: static !important;
  display: grid !important;
}
.swiper-wrapper {
  display: flex;
  transition: transform 0.3s ease;
}

.swiper-button-prev,
.swiper-button-next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1000;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
  transition: background 0.3s ease;
}

.swiper-button-prev {
  left: -60px;
}

.swiper-button-next {
  right: -60px;
}

.swiper-button-prev::after,
.swiper-button-next::after {
  font-size: 20px;
}
.swiper-pagination {
  position: absolute;
  bottom: 5px;
  display: flex;
  justify-content: center;
}

.swiper-pagination-bullet {
  width: 10px;
  height: 10px;
  background-color: white;
  opacity: 0.8;
  transition: opacity 0.3s;
}

.swiper-pagination-bullet-active {
  opacity: 1;
  background-color: #834bff; /* Active bullet color */
}
